ion-radio-group{
    margin-right: 0px;
}
ion-content{
    --background: linear-gradient(#3880ff 65%, white);
}
ion-progress-bar{
    height: 7px;;
}
.border-bottom{
    border-bottom: 3px solid #eb445a;
}