<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      To do
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" > 
  <ion-item *ngFor="let task of tasks" class="ion-margin-top" [ngClass]="{' border-bottom': task.isPriority}">
    <ion-label (click)="presentModal(task)">{{task.content}}</ion-label>
    <ion-icon slot="end" name="trash-outline" (click)="presentAlert(task.id)"></ion-icon>
    {{task.date | date}}
    <ion-radio-group slot="start">
      <ion-checkbox [(ngModel)]="task.isDone" (ionChange)="updateProgresBar(task)"  slot="start"></ion-checkbox>
    </ion-radio-group>
  </ion-item>
</ion-content>

<ion-label>Done: {{progress * 100 | number : '1.0-2'}}%</ion-label>
<ion-progress-bar [color]="color"  [value]="progress"></ion-progress-bar>